<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<servlet>
		<servlet-name>GplusToRssServlet</servlet-name>
		<servlet-class>gplus.to.rss.GplusToRssServlet</servlet-class>
		<init-param>
			<param-name>googleApiKey</param-name>
			<param-value>YOUR GOOGLE API KEY</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GplusToRssServlet</servlet-name>
		<url-pattern>/rss/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
