body {
	font-family: "Trebuchet MS", sans-serif;
}
h1 {
	font-style: italic;
}

section {
	width: 800px;
}

article {
	float:left; 
	width: 700px;
}

.ui-dialog {
	width: 100%;
	position: static;
}

aside.sharebar {
	float:right;
	width: 55px;
	padding: 5px;
	text-align: center;
}

div.sharebutton {
	margin: 10px 0px;
}

input.ui-button {
	padding: 0.1em 1em;
}

@media only screen and (max-width: 750px) {
	section {
		width: 100%;
	}
	
	article {
		width: 100%;
	}

	aside.sharebar {
		float: none;
		clear: both;
		width: 100%;
		text-align: left;
	}

	div.sharebutton {
	 	float: left;
		margin: 10px 10px;
	}
}
